
<h1 style="color: grey;margin-top: 100px;margin-left: 50px;">Trouvez rapidement votre médecin </h1>
<h1 style="color: grey;margin-left: 600px;">pour prendre rendez-vous !</h1>

<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <section class="section section-small">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                          <input type="text" class="form-control datetimepicker" placeholder="pick a date">
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                          <select class="form-control" id="CategoryID" name="CategoryID">
                              <option selected="selected" value="1">All</option>
                              <option value="2">Adventure</option>
										<option value="3">Culture &amp; Arts</option>
										<option value="4">Festival &amp; Events</option>
										<option value="5">Food &amp; Drink</option>
										<option value="6">Historical</option>
										<option value="7">Leisure &amp; Sports</option>
										<option value="8">Nature &amp; Rural</option>
										<option value="9">Nightlife &amp; Party</option>
										<option value="10">Shopping &amp; Market</option>
										<option value="11">Transportation</option>
										<option value="12">Business &amp; Interpretation</option>
										<option value="13">Photography</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                          <select class="form-control" id="LanguageID" name="LanguageID">
                            <option selected="selected" value="1">All</option>
                            <option value="2">Adventure</option>
                  <option value="3">Culture &amp; Arts</option>
                  <option value="4">Festival &amp; Events</option>
                  <option value="5">Food &amp; Drink</option>
                  <option value="6">Historical</option>
                  <option value="7">Leisure &amp; Sports</option>
                  <option value="8">Nature &amp; Rural</option>
                  <option value="9">Nightlife &amp; Party</option>
                  <option value="10">Shopping &amp; Market</option>
                  <option value="11">Transportation</option>
                  <option value="12">Business &amp; Interpretation</option>
                  <option value="13">Photography</option>
                          </select>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button class="btn btn-lg btn-kootour-bold btn-search" type="submit">
                            Search
                        </button>
                    </div>
                </div>
              </div>

          </section>
      </div>
  </div>
</div>

<!-- Ajoutez ici le lien vers le script Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
