@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
}

.bgcolor{
  background-color: #fff;
}

.bgcolor_02{
  background-color:#ededef;
}

.bgcolor_03{
  background-color:lightblue;
}

/*ayemin*/

section.section.section-small {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

section.section {
    margin-top: 25px;
    background-color: #fff;
    border-top: 10px solid rgb(204, 0, 119);
    border-radius: 3px;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,.12), 1px 0 2px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.12);
}

section.section {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
}

.btn-kootour-bold {
    font-family: Montserrat-Medium;
}

.btn-kootour, .btn-kootour-bold {
    border-radius: 3px;
    color: #fff;
    background-color: rgb(204, 0, 119);
    width: 200px;
}


.btn {
    padding: 8px 16px;
    font-size: 16px;
    font-size: 1.6rem;
    border-radius: 3px;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-center {
      text-align: center;
  }
.subtitle {
    font-size: 18px;
    font-size: 1.8rem;
    color: rgb(204, 0, 119);
    padding:0;
}

.nopadding{
  padding:0;
}
/*ayemin*/
.section {
  padding: 15px;
}

.form-group {
  margin-bottom: 0;
}

.btn-search {
  margin-top: 15px;
}

.card {
  max-width: 45em;
  flex-direction: row;
   background-color: #d5a7ff6c;
  border: 0;
  box-shadow: 0 7px 7px rgb(0, 255, 64);
  margin: 3em auto;
}

.card img {
  max-width: 30%;
  margin: auto;
/*   padding: 0.5em; */
/*   border-radius: 0.7em; */
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.text-section {
  max-width: 80%;
}

@media screen and (max-width: 475px) {
  .card {
    font-size: 0.9em;
  }
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;


}
.custom-btn {
  width: 300px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


/* 13 */
.btn-13 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}
