
<h1 style="color: grey;margin-top: 100px;margin-left: 50px;">Trouvez rapidement votre médecin </h1>
<h1 style="color: grey;margin-left: 600px;">pour prendre rendez-vous !</h1>

<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <section class="section section-small">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                          <input type="text" class="form-control datetimepicker" [(ngModel)]="nomMedecin" placeholder="Nom du professionnel de la santé">
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <input type="text" class="form-control datetimepicker" [(ngModel)]="telMedecin" placeholder="numero de cabine ">

                  </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <input type="text" class="form-control datetimepicker" [(ngModel)]="emailMedecin" placeholder="email du professionnel de la santé">
                  </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <button class="btn btn-lg btn-kootour-bold btn-search" (click)="searchMedecin()">
                        Rechercher </button>
                    </div>
                </div>
              </div>

          </section>
      </div>
  </div>
</div>

<!-- Ajoutez ici le lien vers le script Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
