
<h1 style="color: grey;margin-top: 50px;margin-left: 300px;">Trouvez rapidement votre médecin </h1>
<h1 style="color: grey;margin-left: 500px;">pour prendre rendez-vous !</h1>

<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <section class="section section-small">
              <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                          <input type="text" class="form-control datetimepicker" [(ngModel)]="nomMedecin" placeholder="Nom du professionnel de la santé">
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <input type="text" class="form-control datetimepicker" [(ngModel)]="telMedecin" placeholder="numero de cabine ">

                  </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                      <input type="text" class="form-control datetimepicker" [(ngModel)]="emailMedecin" placeholder="email du professionnel de la santé">
                  </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <button class="btn btn-lg btn-kootour-bold btn-search" (click)="searchMedecin()">
                        Rechercher </button>
                    </div>
                </div>
              </div>

          </section>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div *ngIf="searchResults.length > 0"> <!-- Vérifiez si des résultats sont disponibles -->
        <div class="card text-dark mb-3" *ngFor="let medecin of searchResults">
          <img src="./assets/img/medecin.png" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="text-section">
              <h4 class="card-title">{{ medecin?.nom }}</h4>
              <h5 class="card-subtitle mb-3">{{ medecin?.specialite }}</h5>
              <p class="card-text mb-0">Adresse: {{ medecin?.adresse_cabinet }}</p>
              <p class="card-text">Email: {{ medecin?.email }}</p>
              <p class="card-text mb-0">Numero du téléphone: {{ medecin?.num_telephone }}</p>
              <p class="card-text">Numero du fixe: {{ medecin?.num_fixe_cabinet }}</p>
 </div>
          </div>
        </div>
      </div>
      <div *ngIf="searchResults.length === 0">
        Aucun résultat trouvé.
      </div>
    </div>
  </div>
</div>
<!-- Ajoutez ici le lien vers le script Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
