<nav class="navbar navbar-expand-custom navbar-mainbg" >

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav ml-auto" style="margin-left: 1000px;">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li class="nav-item" >
              <a class="nav-link" href="javascript:void(0);"></a>
          </li>

          <li class="nav-item active">
              <a class="nav-link" href="javascript:void(0);" routerLink="connect">Se connecter</a>
          </li>
      </ul>
  </div>
</nav>
