<div style="margin-top: 4rem; margin-left: 100px;">
  <div id="doctors-container">
    <!-- Fetch Data -->
  </div>
  <div data-aos="fade-left" data-aos-duration="800" id="payment-container">
    <div class="card">
      <div class="card-body">
        <div>
          <h3 style="text-align: center;">Détails du patient</h3>
        </div>
        <div>
        </div>
        <p style="color: red;">S'il vous plaît fournir les informations suivantes</p>
        <form id="PatientForm" (ngSubmit)="submitForm()">
          <div class="mb-3" style="padding: 1%;">
            <input [(ngModel)]="nompatient" name="nompatient" required type="text" class="form-control" id="nompatient" placeholder="Donner votre nom ">
          </div>
          <div class="mb-3" style="padding: 1%;">
            <input [(ngModel)]="num_tel" name="num_tel" required type="tel" class="form-control" id="num_tel" placeholder="Donner le numéro de téléphone">
          </div>
          <div class="mb-3" style="padding: 1%;">
            <label for="date_rendezvous">Date souhaitée pour vous rencontrer !</label>
            <input [(ngModel)]="date_rendezvous" name="date_rendezvous" required type="datetime-local" class="form-control" id="date_rendezvous" placeholder="Date souhaitée pour vous rencontrer !">
          </div>
          <div class="mb-3" style="padding: 1%;">
            <textarea [(ngModel)]="motif" name="motif" required class="form-control" id="motif" placeholder="Indiquez le motif de la consultation et s'il existe d'autres informations médicales"></textarea>
          </div>
        
          <input type="submit" value="Confirmez votre rendez-vous" class="btn btn-info" style="color: white; width:80%;display:block; margin:auto">
        </form>
      </div>
      <h6 style=" width:80%; margin: 1rem">* Les mises à jour seront envoyées à votre numéro de téléphone</h6>
    </div>
  </div>
</div>
