

<div class="container" >

  <div class="card bg-dark text-light" >
    <img src="./assets/img/medecin.png" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="text-section">
        <h4 class="card-title">{{ medecin?.nom }}</h4>
        <h5 class="card-subtitle mb-3">{{ medecin?.specialite }}</h5>
        <p class="card-text mb-0">Adresse: {{ medecin?.adresse_cabinet }}</p>
        <p class="card-text">Email: {{ medecin?.email }}</p>
        <p class="card-text mb-0">numero du telephone: {{ medecin?.num_telephone }}</p>
        <p class="card-text">numero du fix: {{ medecin?.num_fixe_cabinet }}</p>
        <button class="custom-btn btn-13" [routerLink]="'/prendre-rendezvous/' + medecin?.id" (click)="prendreRendezVous(medecin?.id)">Prendre un rendez-vous</button>
      </div>

    </div>
  </div>
</div>
