<div class="records-banner" data-aos-duration="800">
  <div>
      <img src="./assets/img/6535c0ffb011e8c4bef374bcddd804e9-removebg-preview.png" alt="">
  </div>
  <div>
      <h1 style="color: grey;margin-top: 100px;">Prenez rapidement un rendez-vous </h1>
      <h1 style="color: grey;">avec votre médecin !</h1>
      <ul>
          <p style="color: rgb(133, 64, 212); font:bolder">&#10004; Sélectionnez votre médecin, choisissez la date et l'heure de votre rdv et recevez votre sms/mail de confirmation. C’est aussi simple que ça !</p>
<div id="cover">
  <form method="get" action="">
    <div class="tb">
      <div class="td"><input type="text" placeholder="Search" style="color: white;" required></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>

      </ul>

  </div>
</div>

<div class="articles" data-aos="fade-up" data-aos-duration="800" style="padding-top:50px;" >
  <h1 style="text-align: center;">Pourquoi prendre rendez-vous avec Rendez-vouya.tn?</h1>
  <h3 style="text-align: center;">Avec Rendez-vouya, prenez rendez-vous en ligne avec votre médecin autrement</h3>
  <div class="card-group">
      <div class="card-mini">
        <div class="circle" style="width: 150px;">
          <img src="./assets/img/607c49d6a8abcb6d343fe606e28251ad.jpg" class="imga" alt="" />
          <svg class="ckc" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
             xml:space="preserve">
            <circle cx="50" cy="50" r="40" />
          </svg>
        </div><br><br>
        <div class="card-body"  >
              <h5 class="card-title">Accédez rapidement <br> à votre médecin</h5>
          </div>
      </div>
      <div class="card-mini">
        <div class="circle" style="width: 150px;">
          <img src="./assets/img/f9f6672a5609baf6e82d7b057f6f59fa.jpg" class="imga"  alt="" />
          <svg class="ckc" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
             xml:space="preserve">
            <circle cx="50" cy="50" r="40" />
          </svg>
        </div><br><br>
        <div class="card-body"  >
              <h5 class="card-title">Prenez rendez-vous en <br>ligne à tout moment</h5>

          </div>
      </div>
      <div class="card-mini">
        <div class="circle" style="width: 150px;">
          <img src="./assets/img/a41f0374c1acc0e5ed15b8256e36438b.jpg" class="imga"  alt="" />
          <svg class="ckc" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
             xml:space="preserve">
            <circle cx="50" cy="50" r="40" />
          </svg>
        </div><br><br>
        <div class="card-body"  >
              <h5 class="card-title">Recevez des sms/mail <br> de rappel personnalisés</h5>

          </div>
      </div>
  </div>

</div>
<searchbar></searchbar>

<div class="slides-banner" data-aos="fade-right" data-aos-duration="800"  style="display: flex;justify-content: space-between;background-color: rgb(235, 233, 233)">

  <div class="slides-img">
      <img src="./Files/order.c84fc07b0be8a7e8d4db432eb4e606a2.svg" alt="">
  </div>
</div>

<div class="records-banner" data-aos-duration="800">
  <div>
      <img src="./Files/record.bfc5241f9b15340a32c98eb360d1005a.svg" alt="">
  </div>
  <div>
      <h1 style="color: grey;">All your medical records</h1>
      <h1>In one secure app</h1>
      <ul>
          <li style="color: gray;">&#10004; 256 bit end-to-end encryption</li>
          <li style="color: gray;">&#10004; Records are accessible only by you</li>
          <li style="color: gray;">&#10004; Access your records around 8000+ centers</li>
      </ul>
      <button type="button" class="btn btn-info">
              Find out more</button>
  </div>
</div>

<div class="trust-banner" data-aos-duration="800">
  <div class="trust-info">
      <h1 style="color: grey;">Leading healthcare provider</h1>
      <h1>Trust us for businesses</h1>
      <ul>
          <li style="color: gray;">&#10004; Get seen by 25M paitients</li>
          <li style="color: gray;">&#10004; The most advanced software for clinics and hospitals</li>
          <li style="color: gray;">&#10004; State of art business analytics and enterprises</li>
      </ul>
      <button type="button" class="btn btn-info" style="margin-bottom: 4%;color: white;">
              Learn more</button>
  </div>
  <div class="trust-img" style="margin-right: 10%;margin-top: 5%;">
      <img style="width: 100%;" src="./Files/provider.c4a3d938da109434de6ce3a9046bbf42 (1).png" alt="">
  </div>
</div>
