/* --------BOOK APPOINTMENT PAGE ----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    font-family: poppins, sans-serif;
    font-size: 0.9rem;
}
.card{
    margin-top:4rem;
}
.card-img-overlay{
    border: 0;
    margin: 2%;
}
.card-title{
    text-align: center;
}
.card-img-overlay>div{
    /* border:1px solid red; */
    margin: 50px;
    text-align: center;
}
.card-img-overlay>div p{
    width:50%;
    padding-top:0.7rem;
}
#select-dept{
    width:50%;
    text-align:center;
}
.input-grp{
    /* border:1px solid red; */
    width: 30%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#select-dept{
    margin-top:-10px;
    padding:7px;
}
.safety-banner{
    background-color: rgb(235, 233, 233);
}
.sb-top{
    background-color: rgb(235, 233, 233);
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.sb-top-body{
    margin-top: 3%;
    width:40%;
    /* border: 1px solid red; */
}
.sb-top-img{
    width:25%;
    /* border: 1px solid red; */
}
.sb-top-img>img{
    width:100%;
}
.sb-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
.articles{
  background-color: whitesmoke;
    margin-top: 3%;padding: auto;
}
.card-group{
    display: flex;
    justify-content: space-around;
}
.card-mini{
    margin:3rem;
}
.articles button{
    margin-left: 45%;
    margin-bottom: 4%;
    color: white;
}
.slides-banner{
    background-color: rgb(235, 233, 233);
    /* border:1px solid red; */
}
.slides-left{
    /* border:1px solid red; */
    margin-top: 3%;
    margin-left: 4%;
}
.slides-left>div{
    display: flex;
    justify-content: space-between;
}
.slides-left button{
    margin-bottom: 4%;
    color: white;
}
.slides-img{
    margin-right: 4%;
}
.records-banner{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.trust-banner{
    background-color: rgb(235, 233, 233);
    display: flex;
    justify-content: space-evenly;
}
.trust-info{
    margin-top: 5%;
    width: 100%;
    margin-left: 5%;
}
.btn{
    margin-bottom: 4%;
    color: white;
}
 .tb {
    display: table;
    width: 100%;
  }

  .td {

    display: table-cell;
    vertical-align: middle;
  }

  input,
  button {

    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }

  #cover {
margin-top: 3%;
    width: 550px;
    padding: 10px;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
  }

  form {
    height: 96px;
  }

  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
  }

  input[type="text"]::placeholder {
    color: #ffffff;
  }

  #s-cover {
    width: 1px;
    padding-left: 35px;
  }

  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }

  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }

  button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
  }

  button span:before,
  button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }

  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
  }

  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }

  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }

  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
  }
  .circle{
    position:relative;
    width:100px;
    height:100px;
    .ckc{
      fill:none;
      stroke:#8a3ab9;
      stroke-linecap: round;
      stroke-width:3;
      stroke-dasharray: 1;
      stroke-dashoffset: 0;
      animation: stroke-draw 6s ease-out infinite alternate;

    }
    .imga{
      position:absolute;
      left:50%;
      top:75%;
      transform:translate(-50%, -50%);
      width:120px;
      border-radius:50%;
    }
  }
  @keyframes stroke-draw {
    from{
      stroke:#8a3ab9;
      stroke-dasharray: 1;
    }
    to{
      stroke:#cd486b;
      transform:rotate(180deg);
      stroke-dasharray: 8;
    }
  }
  .land-sections{
    /* border:1px solid black; */
    width:77%;
    margin: 4.5rem auto;
}
#feature-cont{
  /* border:1px solid red; */
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap: 3rem;
}

.feature-card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  transition: transform .2s;
}
.feature-card:hover{
  transform: scale(1.1);
  cursor:pointer;
}
.feature-img{
  width:100%;
  /* border:1px solid black; */
}
.feature-img>img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width:100%;
}
.main-container {
	background: #444e80;
	color: #abafc6;
	border-radius: 5px;
	padding: 20px;
	width: 600px;
	height: 350px;
}

.year-stats {
	white-space: nowrap;
	max-height: 170px;
	overflow: hidden;
}

.year-stats:hover {
	overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
	height: 5px;
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #abafc6;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #5397d6;
}

.month-group {
	cursor: pointer;
	max-width: 400px;
	height: 110px;
	margin: 10px;
	display: inline-block;
}

.bar {
	background-color: #abafc6;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
	background: #5397d6;
}

.month-group:hover p,
.selected p {
	color: #fff;
}

.h-25 {
	height: 25%;
}
.h-50 {
	height: 50%;
}
.h-75 {
	height: 75%;
}
.h-100 {
	height: 100%;
}

.stats-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 120px;
	height: 120px;
}

.circle {
	stroke: #915db1;
	fill: none;
	stroke-width: 3;
}

.circle:nth-child(2) {
	stroke: #e59f3c;
}

.circle:nth-child(3) {
	stroke: #5397d6;
}

.circle:nth-child(4) {
	stroke: #4cc790;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.info p {
	margin-bottom: 10px;
}

.info span {
	color: #fff;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 255, 255);
background: linear-gradient(0deg, rgb(215, 155, 255) 0%, rgb(115, 9, 255) 100%);
}
.btn-5:hover {
  color: #7621ff;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #7621ff;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

