<div class="records-banner" data-aos-duration="800">
  <div>
      <img src="./assets/img/6535c0ffb011e8c4bef374bcddd804e9-removebg-preview.png" alt="">
  </div>
  <div>
      <h1 style="color: grey;margin-top: 100px;">Prenez rapidement un rendez-vous </h1>
      <h1 style="color: grey;">avec votre médecin !</h1>
      <ul>
          <p style="color: rgb(133, 64, 212); font:bolder">&#10004; Sélectionnez votre médecin, choisissez la date et l'heure de votre rdv et recevez votre sms/mail de confirmation. C’est aussi simple que ça !</p>


      </ul>

  </div>
</div>

<div class="articles" data-aos="fade-up" data-aos-duration="800" style="padding-top:50px;" >
  <h1 style="text-align: center;">Pourquoi prendre rendez-vous avec Rendez-vouya.tn?</h1>
  <h3 style="text-align: center;">Avec Rendez-vouya, prenez rendez-vous en ligne avec votre médecin autrement</h3>
  <div class="card-group">
      <div class="card-mini">
        <div class="circle" style="width: 150px;">
          <img src="./assets/img/607c49d6a8abcb6d343fe606e28251ad.jpg" class="imga" alt="" />
          <svg class="ckc" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
             xml:space="preserve">
            <circle cx="50" cy="50" r="40" />
          </svg>
        </div><br><br>
        <div class="card-body"  >
              <h5 class="card-title">Accédez rapidement <br> à votre médecin</h5>
          </div>
      </div>
      <div class="card-mini">
        <div class="circle" style="width: 150px;">
          <img src="./assets/img/f9f6672a5609baf6e82d7b057f6f59fa.jpg" class="imga"  alt="" />
          <svg class="ckc" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
             xml:space="preserve">
            <circle cx="50" cy="50" r="40" />
          </svg>
        </div><br><br>
        <div class="card-body"  >
              <h5 class="card-title">Prenez rendez-vous en <br>ligne à tout moment</h5>

          </div>
      </div>
      <div class="card-mini">
        <div class="circle" style="width: 150px;">
          <img src="./assets/img/a41f0374c1acc0e5ed15b8256e36438b.jpg" class="imga"  alt="" />
          <svg class="ckc" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" style="enable-background:new -580 439 577.9 194;"
             xml:space="preserve">
            <circle cx="50" cy="50" r="40" />
          </svg>
        </div><br><br>
        <div class="card-body"  >
              <h5 class="card-title">Recevez des sms/mail <br> de rappel personnalisés</h5>

          </div>
      </div>
  </div>

</div>
<searchbar></searchbar>

<div class="slides-banner" data-aos="fade-right" data-aos-duration="800"  style="display: flex;justify-content: space-between;background-color: rgb(235, 233, 233)">

  <div class="slides-img">
      <img src="./Files/order.c84fc07b0be8a7e8d4db432eb4e606a2.svg" alt="">
  </div>
</div>



<div class="records-banner" data-aos-duration="800">
  <div class="trust-info">
    <h1 style="color: grey;">Tous vos dossiers médicaux <br>
      Dans une application sécurisée</h1>

    <ul>

        <li style="color: rgb(0, 0, 0);">&#10004;  Les enregistrements ne sont accessibles que par vous</li>
        <li style="color: rgb(0, 0, 0);">&#10004; Accédez à vos dossiers dans plus de 400 centres</li>
    </ul>
  </div>
  <div class="trust-img" style="margin-right: 10%;margin-top: 5%;">
    <img src="./assets/img/56446a605785ae56bc1fa16980ace6d8-removebg-preview.png" alt="">
  </div>
</div>



<div class="records-banner" data-aos-duration="800">
  <div class="trust-info">
    <h1 style="color: grey;">Statics  <br>
      dans cette plateforme</h1>

    <ul>

        <li style="color: rgb(0, 0, 0);">&#10004;  Les enregistrements ne sont accessibles que par vous</li>
        <li style="color: rgb(0, 0, 0);">&#10004; Accédez à vos dossiers dans plus de 400 centres</li>
    </ul>
  </div>
  <div class="trust-img" style="margin-right: 10%;margin-top: 5%; margin-bottom: 5px;">
    <div class="main-container">
      <div class="year-stats">
        <div class="month-group">
          <div class="bar h-100"></div>
          <p class="month">Jan</p>
        </div>
        <div class="month-group">
          <div class="bar h-50"></div>
          <p class="month">Feb</p>
        </div>
        <div class="month-group">
          <div class="bar h-75"></div>
          <p class="month">Mar</p>
        </div>
        <div class="month-group">
          <div class="bar h-25"></div>
          <p class="month">Apr</p>
        </div>
        <div class="month-group selected">
          <div class="bar h-100"></div>
          <p class="month">May</p>
        </div>
        <div class="month-group">
          <div class="bar h-50"></div>
          <p class="month">Jun</p>
        </div>
        <div class="month-group">
          <div class="bar h-75"></div>
          <p class="month">Jul</p>
        </div>
        <div class="month-group">
          <div class="bar h-25"></div>
          <p class="month">Aug</p>
        </div>
        <div class="month-group">
          <div class="bar h-50"></div>
          <p class="month">Sep</p>
        </div>
        <div class="month-group">
          <div class="bar h-75"></div>
          <p class="month">Oct</p>
        </div>
        <div class="month-group">
          <div class="bar h-25"></div>
          <p class="month">Nov</p>
        </div>
        <div class="month-group">
          <div class="bar h-100"></div>
          <p class="month">Dez</p>
        </div>
      </div>

      <div class="stats-info">
        <div class="graph-container">
          <div class="percent">
            <svg viewBox="0 0 36 36" class="circular-chart">
              <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831" />
              <path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831" />
              <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831" />
              <path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831" />
            </svg>
          </div>
          <p>Total de patients : 5698 </p>
        </div>

        <div class="info">
          <p>Most expensive category <br /><span>Restaurants & Dining</span></p>
          <p>Updated categories <span>2</span></p>
          <p>Bonus payments <span>$92</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
