<div class="container">
  <div class="row">
    <img src="../assets/img/New Product Mockup Now Available Marketing Promotion Instagram Post (3).png" class="rounded mx-auto d-block" style="width: 600px;" alt="responsive">

    <div class="col-12">
    <h1>Qui sommes nous ?</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <b>Pour les patients</b>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong style="color: rgb(56, 56, 243);">Doute, inquiétude, besoin d'un médecin en urgence ? <span style="color: rgb(102, 102, 209);">Rendez-vouya.tn </span> est la solution</strong> <br> <p style="margin-top: 20px;"> Notre plateforme  est la solution

            Rendez-vouya est une plateforme innovante qui vous permet de trouver rapidement un médecin le plus
            proche de chez vous et de prendre rendez-vous en ligne gratuitement.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <b>Pour les professionnels de santé</b>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Rendez-vouya est un service complet de gestion de cabinet médical, qui optimise votre organisation et
              vous fait gagner du temps. Avec Rendez-vouya, vous partagez vos disponibilités en temps réel avec vos
              patients selon vos critères, tout en gardant la main sur votre agenda médical.
              Notre objectif final est d'améliorer l'accès aux soins en mettant à votre disposition des outils simples
              et intuitifs pour que chacun devienne acteur de sa santé et de son bien-être.
              DONC pour demander de inscrire dans notre plateforme clique sur
            </p>
            <div class="">
              <button class="custom-btn btn-5" [routerLink]="['/docdemande']"><span>Inscrire</span></button>
            </div></div>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>
